<footer class="footer">
  <nav class="footer__menu">
    <ul class="footer__menu-list">
      <li class="footer__menu-list--item">
        <a class="footer__menu-list--item_link" href="#Link1">Link1</a>
      </li>
      <li class="footer__menu-list--item">
        <a class="footer__menu-list--item_link" href="#Link2">Link2</a>
      </li>
      <li class="footer__menu-list--item">
        <a class="footer__menu-list--item_link" href="#Link3">Link3</a>
      </li>
      <li class="footer__menu-list--item">
        <a class="footer__menu-list--item_link" href="#Link4">Link4</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__social">
    <ul class="footer__social-list">
        <li class="footer__social-list--item">
          <a class="footer__social-list--item_link" href="#Facebook">FB</a>
        </li>
        <li class="footer__social-list--item">
          <a class="footer__social-list--item_link" href="#Twitter">TW</a>
        </li>
        <li class="footer__social-list--item">
          <a class="footer__social-list--item_link" href="#Google+">G+</a>
        </li>
  </nav>
</footer>
