<header class="header">
  <div class="header__container">
    <img
      class="header__container-logo"
      src="./assets/images/logo.png"
      alt="Logo"
    />
    <h1 class="header__container-title">LayoutDeEjemplo</h1>
  </div>
  <nav class="header__menu">
    <ul class="header__menu-list">
      <li class="header__menu-list--item">
        <a class="header__menu-list--item_link" href="#Link1">Link1</a>
      </li>
      <li class="header__menu-list--item">
        <a class="header__menu-list--item_link" href="#Link2">Link2</a>
      </li>
      <li class="header__menu-list--item">
        <a class="header__menu-list--item_link" href="#Link3">Link3</a>
      </li>
      <li class="header__menu-list--item">
        <a class="header__menu-list--item_link" href="#Link4">Link4</a>
      </li>
    </ul>
  </nav>
</header>
