<header class="header">
  <div class="header__container">
    <img
      class="header__container-logo"
      src="./assets/images/logo.png"
      alt="Logo"
    />
    <h1 class="header__container-title">LayoutDeEjemplo</h1>
  </div>
  <nav class="header__menu">
    <ul class="header__menu-list">
      <li class="header__menu-list--link">Link1</li>
      <li class="header__menu-list--link">Link2</li>
      <li class="header__menu-list--link">Link3</li>
      <li class="header__menu-list--link">Link4</li>
    </ul>
  </nav>
</header>
