// Font-size
//$defaultFontSize: 16;

// Media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Font
$font: 'Montserrat', sans-serif;
$bold: 700;
$regular: 400;

// Colors
$color-headerFooter:#fb9c3c;
$color-menu: #b83c25;
$color-link: white;
$color-socialMedia:  #ae600d;
