// Media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Font
$font: 'Montserrat', sans-serif;
$bold: 700;
$regular: 400;

// Colors
$color-headerFooter:#ff993e;
$color-menu: #c0392b;
$color-link: white;
$color-socialMedia:  #874000;
$color-border: #d3d3d3;
$color-mainBorder: #f0f0f0;
$color-line: black;
$color-aside: #008000;
