.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 16.5vh;
    background-color: $color-headerFooter;

    @media all and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 34vw;
        height: 10vh;
     }

    &__menu {
        display: flex;

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: $color-menu;
            width: 80vw;
            height: 5.8vh;

            @media all and (min-width: $breakpoint-desktop) {
                width: 21.2vw;
                height: 5.3vh;
            }

            &--item {
                &_link {
                    text-decoration: none;
                    color: $color-link;
                    font-family: $font;
                    font-size: 3.4vw;

                    @media all and (min-width: $breakpoint-desktop) {
                        font-size: 1.4vw;
                    }
                }
            }
        }
    }

    &__social {
        display: flex;

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: $color-socialMedia;
            width: 33vw;
            height: 5.8vh;

            @media all and (min-width: $breakpoint-desktop) {
                width: 13.2vw;
                height: 5.3vh;
            }

            &--item {
                &_link {
                    text-decoration: none;
                    color: $color-link;
                    font-family: $font;
                    font-size: 3.4vw;

                    @media all and (min-width: $breakpoint-desktop) {
                        font-size: 1.5vw;
                    }
                }
            }
        }
    }
}
