.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 18vh;
    background-color: $color-headerFooter;

    @media all and (min-width: $breakpoint-desktop) {
       flex-direction: row;
       justify-content: space-around;
       align-items: center;
       height: 11vh;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 13vh;

        &-logo {
            width: 11vw;
            margin-right: 10px;

            @media all and (min-width: $breakpoint-desktop) {
                width: 4.3vw;
            }
        }

        &-title {
            font-family: $font;
            font-size: 6vw;

            @media all and (min-width: $breakpoint-desktop) {
                font-size: 2.7vw;
            }
        }
    }

    &__menu {
        display: flex;

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            height: 5.8vh;
            background-color: $color-menu;

            @media all and (min-width: $breakpoint-desktop) {
                width: 42vw;
                height: 5.3vh;
            }

            &--item {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 25%;
                height: 5.8vh;
                
                @keyframes wiggle {
                    0%, 7% {
                      transform: rotateZ(0);
                    }
                    15% {
                      transform: rotateZ(-15deg);
                    }
                    20% {
                      transform: rotateZ(10deg);
                    }
                    25% {
                      transform: rotateZ(-10deg);
                    }
                    30% {
                      transform: rotateZ(6deg);
                    }
                    35% {
                      transform: rotateZ(-4deg);
                    }
                    40%, 100% {
                      transform: rotateZ(0);
                    }
                  }

                @media all and (min-width: $breakpoint-desktop) {
                    height: 5.3vh;
                }

                &_link {
                    text-decoration: none;
                    color: $color-link;
                    font-family: $font;
                    font-size: 3.4vw;

                    @media all and (min-width: $breakpoint-desktop) {
                        font-size: 1.4vw;
                    }
                }
            }

            &--item:hover {
                background-color: $color-hover;
                transform: scale(1.1);
                animation: wiggle 2s linear infinite;
            }
        }
    }
}
