.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 65.5vh;

    @media all and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        justify-content: flex-start;
        width: 93.8vw;
        height: 79vh;
        border-left: solid 6.2vw $color-mainBorder;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 90vw;
        height: 65.5vh;

        @media all and (min-width: $breakpoint-desktop) {
            justify-content: flex-start;
            align-items: center;
            width: 61.3vw;
            height: 79vh;
        }

        &-article {
            display: flex;
            flex-direction: column;
            font-family: $font;
    
            &--title {
                width: 90vw;
                margin-bottom: 1.5vh;
                font-weight: $bold;
                font-size: 4.7vw;

                @media all and (min-width: $breakpoint-desktop) {
                    width: 58vw;
                    margin: 2.8vh auto 1.3vh auto;
                    font-size: 2vw;
                }
            }

            &--text {
                width: 90vw;
                font-size: 3.4vw;

                @media all and (min-width: $breakpoint-desktop) {
                    width: 58vw;
                    margin-bottom: 1.8vh;
                    font-size: 1.3vw;
                }
            }

            &--text2 {
                align-self: center;
                width: 70vw;
                padding-left: 15px;
                border-left: solid 3px $color-border;
                font-size: 3.4vw;

                @media all and (min-width: $breakpoint-desktop) {
                    width: 53.2vw;
                    margin: auto auto 1.8vh 20px;
                    padding-left: 18px;
                    border-left: solid 4px $color-border;
                    font-size: 1.3vw;
                }
            }
        }

        &-line {
            align-self: center;
            width: 90vw;
            height: 1px;
            background-color: $color-line;

            @media all and (min-width: $breakpoint-desktop) {
                width: 58vw;
            }
        }
    }

    &__aside {
        display: none;

        @media all and (min-width: $breakpoint-desktop) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 26.5vw;
            height: 79vh;
            background-color: $color-aside;
        }

        &-rectangle {
            display: none;

            @media all and (min-width: $breakpoint-desktop) {
                display: flex;
                margin-top: 3.3vh;
                width: 21.2vw;
                height: 17vh;
                background-color: $color-headerFooter;
            }
        }

        &-rectangle2 {
            display: none;

            @media all and (min-width: $breakpoint-desktop) {
                display: flex;
                margin-top: 1.7vh;
            }
        }
    }
}
